<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySchedule : Login</title>
    <link rel="stylesheet" href="/styles/login1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <div class="container1">
        <div class="leftContainer">
          <div class="logo">
            <img id="logo" src="juit_logo.png" alt="Logo" />
          </div>
          <div style="text-align: center; margin-top: 30px; color: #5479fa;">
            <h1>My Schedule</h1>
            <b><p style="margin-top: 20px; color: black;">Make Your way to classes way sooner and faster.</p></b>
          </div>
          <!-- <form method="POST" action="/" id="form">
            <div class="EmailInput">
              <input
                id="email"
                type="email"
                name="loginEmail"
                class="login-input email"
                placeholder="Enter Your Email"
                required
              /><b><script></script></b>
            </div>

            <div class="PasswordInput">
              <input
                id="password"
                name="loginPassword"
                type="password"
                class="login-input password"
                placeholder="Enter Your Password"
                required
              />
            </div>
            <div class="loginButton">
              <button type="submit" id="LoginButton" class="login-input">
                Login
              </button>
            </div>
          </form> -->

          <div class="loginButton">
            <a href="/signup"><button type="submit" id="LoginButton" class="login-input">Register</button></a>
          </div>
        
        </div>
      </div>

      <div class="container2">
        <div class="rightContainer">
          <div class="juit">Jaypee University Of Information Technology</div>
          <div class="approval">
            Approved by UGC under Section 2 of UGC Act
          </div>
        </div>
      </div>
    </div>
  </body>

</html>